<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="RoleRightsTestSuite" parallel="tests" thread-count="3">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="Test in Chrome#1" verbose="1" >
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="roleRightsTestSuite.AnaliticTest"/>
        </classes>
    </test>
    <test name="Test in Chrome#2" verbose="2" >
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="roleRightsTestSuite.CordinatorTest"/>
        </classes>
    </test>
    <test name="Test in Chrome#3" verbose="2" >
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="roleRightsTestSuite.OperatorContentTest"/>
        </classes>
    </test>


</suite>