<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ProductAdditionToBasketTestSuite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="Test in Chrome#1" verbose="1" >
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="sergey_potapov.test_automation.task4.ProductAdditionToBasketTest"/>
        </classes>
    </test>
    <test name="Test in Chrome#2" verbose="1" >
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="sergey_potapov.test_automation.task4.MyTest"/>
        </classes>
    </test>



</suite>